body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid black;
    padding: 120px; 
    background-color: beige;
}

h2 {
    text-align: center;
}

.buttons {
    text-align: center;
}

.btn1, .btn2, .btn3, .btn4 {
    background-color: teal;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    margin: 8px;
    border-radius: 5px;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
    background-color: black;
}

.counterField {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px; 
    margin-right:40px
}

text {
    border: 2px solid black;
    padding: 15px; 
    border-radius: 6px;
    font-size: 16px; 
}

@media screen and (max-width: 800px) 
{
    .container {
        padding: 120px;
    }

    .btn1, .btn2, .btn3, .btn4 {
        font-size: 16px;
    }

    text {
        padding: 10px;
        font-size: 14px;
    }
}
